.business_domain .content, .news .content{
	background-attachment: scroll;
	background-position: top;
}

.business_domain .content .canvas_box.frosted_glass,
.news .content .canvas_box.frosted_glass {
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha (opacity=60);
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	
}
.business_domain .content .canvas_box.frosted_glass::after,
.news .content .canvas_box.frosted_glass::after {
	background-image: none;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
}

/** Hide all the floating objects in mobile **/
  /****************************************/
.round_object, .stick_object, .blue_shape,
.cricle_bottom, .circle_object, .triangle_object{
	display: none !important;
}