.business_domain .content, .news .content{
	background-attachment: scroll;
	background-position: top;
}

.business_domain .content .canvas_box.frosted_glass:after,
.news .content .canvas_box.frosted_glass:after{
	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

/** Hide all the floating objects in mobile **/
  /****************************************/
.round_object, .stick_object, .blue_shape,
.cricle_bottom, .circle_object, .triangle_object{
	display: none !important;
}