.scroll_bottom{
	position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    @include display-flex();
    @include justify-content();
    @include align-items();
    padding: 10px 0px 50px 0px;

    span{
    	position: relative;
    	top: -80%;
    	@include transform-prefix(translateX(50%));
		margin-left: -54px;
    	&:hover{
    		margin-top:10px;
    	}
    }
}

.scroll_top{
	position: relative;
	width: 100%;
	float: left;
	padding: 50px 0px;
	text-align: center;

	span{
		top: 20%;
		left: 50%;
		@include transform-prefix(translateX(50%));
		margin-left: -56px;
		&:hover{
			margin-top: -10px;
		}
	}
}


.scroll_top span,
.scroll_bottom span{
	padding: 7px 15px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	@include transition-prefix(margin-top .4s ease);
}

a,
.canvas_box.frosted_glass:after{
	@include transition-prefix(all 0.3s ease-in-out);
}

a.more_btn{
	width: 140px;
	display: block;
	padding: 7px;
	background: $lightBlack;
	font-family: $font_en;
	color: $white;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 7px;
	text-decoration: none;
	&:hover{
		background: $black;
	}
}

.full_width_btn{
	display: none;
	position: relative;
	float: left;
	text-align: center;
	width: 100%;

	a{
		display: block;
		padding: 10px 0px;
		text-decoration: none;
		background: $lightBlack;
		color: $white;
		font-size: 20px;
		&:hover{
			background: $black;
		}
	}
}

.greeting,
.profile,
.history,
.philosophy,
.privacy{
	.section_heading{
		span{
			color: #999;
			font-size: 18px;
		}
	}
}


.language_options{
	position: relative;
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 40px;
	@include clearfix();

	a{
		display: inline-block;
		text-decoration: none;
		color: $paragraph_color;
		padding: 5px 0px;
		font-family: $font_en;
		font-size: 15px;
		margin-right: 15px;
		line-height: 1;

		&:hover{
			color: lighten(#999,1%);
		}
	}

	a.active{
		border-bottom: 2px solid #222;
	}
}

.global_nav ul{

	li{
		float: left;
		vertical-align: middle;
	}

	li.relative{
		position: relative;
		
		ul{
			a{
				font-size: 14px;
			}
		}
	}

	li.over_black a{
		background: $lightBlack;
		color: $white;
		padding: 25px 25px;
		&:hover{
			background: $black;
			color: darken($white,10%);
		}
	}

	a{
		font-family: $font_en;
		text-decoration: none;
		padding: 25px 17px;
		color: $black;
		font-size: 16px;
		line-height: 70px;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		
		&:hover{
			color: lighten($black,70%);
		}
	}

	li:hover > ul{
		height: 215px;
	}
	
	ul{
		li{
			float: left;
			border-top: 1px solid #ddd;
			@include transition-prefix(background-color 0.4s ease);
		}

		a{
			font-family: $font_jp;
			line-height: 1.6;
			width: 180px;
			padding: 10px;
			float: left;
			color: $paragraph_color;
			font-weight: 400;
			background: $white;
			&:hover{
				background: #f1f1f1;
				color: lighten($black,40%);
			}
		}

	}
}


.mobile_global_nav{

	button{
		background: transparent;
		outline: none;
		display: block;
		padding: 0;
		margin-right: 15px;
		border: none;
		color: $white;
		font-size: 250%;
	}

	ul{
		display: block;
		position: relative;
		float: left;
		width: 100%;
		text-align: center;
		list-style-type: none;
		@include clearfix();
	}
	
	.toggle_about_nav img{
		vertical-align: middle;
		margin-left: 10px;
	}

	.toggle_about_nav,
	a{
		text-decoration: none;
		color: $white;
		font-family: $font_en;
		width: 100%;
		display: block;
		font-size: 100%;
		line-height: 3.2;
		font-weight: 500;
		letter-spacing: -0.5px;
		text-align: center;
		cursor: pointer;
	}

	a:hover{
		color: lighten($black,70%);
	}

	ul ul{
		display: none;
		width: 100%;
		margin: 20px 0px;
		border-top: 1px solid #444;
		border-left: 1px solid #444;
		border-right: 1px solid #444;
		@include clearfix();

		li{
			display: block;
			float: left;
			width: 50%;
			@include box-sizing(border-box);
			border-bottom: 1px solid #444;

			&:nth-child(odd){
				border-right: 1px solid #444;
			}

			a{
				font-family: $font_jp;
			}
		}

	}
}


.overview{
	article{
		text-align: center;
		padding: 0;
		margin: 0 auto !important;
		width: 100%;
		margin: 0;
		z-index: 2;
		background: transparent;

		h4{
			font-size: 160%;
			font-weight: 300;
			margin: 20px 0px;
			color: $heading_color;
			text-shadow: $heading_text_shadow;
		}

		p{
			text-align: center;
			line-height: 1.7;
			margin-bottom: 10px;
			font-size: $text_font_size;
			color: $paragraph_color;
			text-shadow: $paragraph_text_shadow;
		}
	}

	img.signature{
		position: relative;
		display: block;
		max-width: 100%;
		float: right;
	}
}

/* style for all section heading */
.section_heading{
	h1{
		font-size: 40px;
		font-weight: 300;
		color: #333;
		margin:0 0 10px 0 !important;
	}

	span{
		display: block;
		font-size: $text_small;
		font-weight: 100;
		color: $paragraph_color;
		text-shadow: $paragraph_text_shadow;
	}

}

.works a.more_btn{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -7px;
}

.news a.more_btn{
	position: relative;
	margin: 10px auto;
}

.canvas_box{
	figure > img{
		max-width: 100%;
		vertical-align: bottom;
	}
}

.footer_nav{
	ul{
		list-style-type: none;
	}
	
	li{
		display: inline-block;
	}

	a{  
		position: relative;
		text-decoration: none;
		color: $black;
		display: inline-block;
		padding: 18px 10px;
		font-size: 80%;
		font-weight: 300;

		&:hover{
			color: lighten($black,70%);
		}
	}
}

.footer_copyright{
	p{
		font-family: $font_en;
	}
}

/** Banner with navbar in about page **/
  /*********************************/
.overlay_banner{
	.overlay_nav{
		ul{
			list-style-type: none;
			position: relative;
			float: left;
			height: 100%;
			width: 100%;
			margin: 0;
			@include display-flex();
			@include justify-content();
			@include align-items();
		}
		li{
			display: inline-block;
			float: left;
			position: relative;
			a{
				display: block;
				float: left;
				color: $white;
				font-size: 16px;
				line-height: 1;
				text-decoration: none;
				padding: 22px 30px;
				&:hover{
					color: lighten($black,70%);
				}
			}
		}

		li{
			&:after{
				position: absolute;
				display: block;
				opacity: 0;
				content: "";
				width: 20px;
				height: 20px;
				border-right: 10px solid transparent;
				border-bottom: 10px solid rgba(255,255,255,1);
				border-left: 10px solid transparent;
				bottom: 0;
				left: 50%;
				margin-left: -10px;
				@include box-sizing(border-box);
				@include transition-prefix(all .3s);
			}
		}
	
		li{
			&:hover{
				&:after{
					opacity: 1;
				}
			}
			
			&.active:after{
				opacity: 1;
			}
		}
	}

	.overlay_title{
		span{
			font-family: $font_en;
			font-size: 300%;
			font-weight: 100;
			color: $white;
			position: relative;
			display: block;
			top: 45%;
		}

		sup{
			position: relative;
			top: 70%;
			left: 35%;
			display: block;
			font-size: 800%;
			color: $white;
		}
	}
}

/** Banner no navbar in about page **/
  /*******************************/
.banner_no_navbar{
	
	img{
		display: block;
		width:100%;
		vertical-align: top;
	}

	.overlay_title{
		span{
			display: block;
			color: $white;
			font-family: $font_en;
			font-size: 67px;
			font-weight: 100;
		}

		sup{
			position: absolute;
			top: 50%;
			left: 48%;
			display: block;
			font-size: 1000%;
			color: $white;
		}
	}
}

/** Overlay title in business domain & works **/
  /*****************************************/
.overlay_caption{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	@include transform-origin(50% 50%);

	.flex_inner{
		position: relative;
		width: 100%;
		height: 100%;
		@include display-flex();
		@include justify-content();
		@include align-items();
	}

    &:after{
    	position: absolute;
    	content: "";
    	display: block;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	background: rgba(0,0,0,0.5);
    	z-index: 3;
    }
	a,span{
		display: block;
		text-decoration: none;
		padding:20px;
		font-size: 14px;
		color: $white;
		text-align: center;
		line-height: 1.7;
		z-index: 5;
		@include transition-prefix(color 0.3s);

	}
}


.dropdown_icon.hide{
	visibility: hidden !important;
}


/** Animate object **/
  /***************/
@include keyframe_spin();
@include keyframe_moveupdown();

.triangle_object{
	position: absolute;
	top: 40%;
	left: 20px;
	z-index: -1;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(spin);
		@include animation-duration(20s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
}

.circle_object{
	position: absolute;
	z-index: 10;
	right: 20px;
	top: 8%;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(spin);
		@include animation-duration(20s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
}
.cricle_bottom{
	position: absolute;
	left: 100px;
	top: 100%;
	z-index: 10;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(spin);
		@include animation-duration(20s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
}
.blue_shape{
	position: absolute;
	z-index: 101;
	right: 0%;
	top: 0%;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(moveupdown);
		@include animation-duration(8s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
}
.stick_object{
	position: absolute;
	z-index: 101;
	top: 20%;
	left: 0;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(spin);
		@include animation-duration(20s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}

}
.round_object{
	position: absolute;
	top: 92%;
	left: 50px;
	z-index: 10;

	img{
		vertical-align: bottom;
		max-width: 100%;
		@include animation-name(moveupdown);
		@include animation-duration(10s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
}