
.page_content{
	
	/** Company overview **/
	.overview {
		padding: $section-padding 0px;
		width: 100%;
		border-bottom: 1px solid $lightGray;
		@include clearfix();
    }
	
	/** Business domain **/
	#business_domain{
		width: 100%;
		position: relative;
		@include clearfix();
		
		.content{
			background: $defaultBg url($business_domain_bg) no-repeat center 70px;
			background-attachment: fixed;
			background-size: cover;
			.canvas_box_container{
				& > .canvas_box{
					width: 20%;
					padding: 10px;
					min-height: 220px;
				}
				& > .canvas_box.frosted_glass{
					&:after{
						background-image: (linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url($business_domain_bg));
					}
				}
			}
		}

	}

	#works{
		width: 100%;
		position: relative;
		@include clearfix();
		background-origin: 50% 50%;

		.canvas_box_container{
			& > .canvas_box{
				width: 33.3333333%;
				padding: 15px;

				figure{
					transform-origin: 50% 50%;
				    -webkit-transform-origin: 50% 50%;
				    -moz-transform-origin: 50% 50%;
				    -o-transform-origin: 50% 50%;
				    -ms-transform-origin: 50% 50%;
				    transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
				    -webkit-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
				    -moz-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
				    -o-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
				    -ms-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
				    transform: scaleX(1) scaleY(1) scaleZ(1);
				    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
				    -moz-transform: scaleX(1) scaleY(1) scaleZ(1);
				    -o-transform: scaleX(1) scaleY(1) scaleZ(1);
				    -ms-transform: scaleX(1) scaleY(1) scaleZ(1);
				    &:hover{
				    	transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
					    -webkit-transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
					    -moz-transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
					    -o-transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
					    -ms-transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
				    }
				}
			}
		}
	}

	#news{
		width: 100%;
		position: relative;
		@include clearfix();
		background-origin: 50% 50%;
		
		.section_heading > .inner{
			display: none;
		}
		.content{
			background: $defaultBg url($news_bg) no-repeat center center;
			background-attachment: fixed;
			padding: 80px 0px;
			background-position: center center !important;
			background-size: cover !important;
			.left_news_heading{
				width: 40%;
				position: relative;
				float: left;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
			}
			.news_heading_canvas{
				width: 50%;
				float: left;
				display: flex;
				justify-content: center;
				align-items: center;
				background-size:cover;
				background-origin: 50% 50%;
				background-position: center center;
				overflow: hidden;
				color: $white;
				text-align: center;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				
				.inner{
					position: relative;
					display: block;
					width: 100%;
					z-index: 3;
					h1{
						display: block;
						font-weight: 500;
						font-size: 40px;
					}
					span{
						display: block;
					}
					
				}
				
			}

			.news_heading_canvas.frosted_glass{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				background: #444;
				&:after{
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: "";
					z-index: 2;
					opacity: 0.4;
					background-image: (linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),url($news_bg));
					background-size:cover;
					background-origin: 50% 50%;
					background-position: center center;
					background-attachment: fixed;
					filter: blur(6px);
					-webkit-filter: blur(6px);
					-moz-filter: blur(6px);
					-ms-filter: blur(6px);
					-o-filter: blur(6px);
					filter: url("#frostedGlass");
				}
			}

			.canvas_box_container{
				width: 60% !important;
				float: left;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;

				& > .canvas_box{
					width: 33.3333333%;
					padding: 50px 20px;

					.inner{
						position: relative;
						@include clearfix();
					}

					.heading{
						position: relative;
						width: 100%;
						float: left;
						display: block;
						margin-bottom: 15px;
						.date{
							font-size: 18px;
							margin-right: 10px;
							vertical-align: middle;
						}
						.topic{
							padding: 3px 0px;
							border-top: 1px solid $lightBlack;
							border-bottom: 1px solid $lightBlack;
							font-size: 11px;
							vertical-align: middle;
						}
					}
					.news_paragraph{
						font-size: 16px;
						line-height: 1.7;
					}
				}
				& > .canvas_box.frosted_glass{
					&:after{
						background-image: (linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url($news_bg));
					}
				}
			}


		}
	}

	/** Recruit section **/
	#recruit{

		.left_box,.right_box{
			position: relative;
			width: 50%;
			float: left;
			overflow: hidden;
			display: flex;
			background-size: cover;
			background-position: center center;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-moz-box-sizing: border-box;
			@include clearfix();
		}
		.left_box .inner,.right_box .inner{
			position: relative;
			width: 100%;

		}
		.left_box figure, .left_box figure{
			background-size: cover;
			background-position: center center;
			
		}
		.left_box figure img,.right_box figure img{
			max-width: 100%;
			vertical-align: bottom;
			transform-origin: 50% 50%;
		    -webkit-transform-origin: 50% 50%;
		    -moz-transform-origin: 50% 50%;
		    -o-transform-origin: 50% 50%;
		    -ms-transform-origin: 50% 50%;
		    transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
		    -webkit-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
		    -moz-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
		    -o-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
		    -ms-transition: all .2s cubic-bezier(0, 0, 1, 1) 0s;
		    transform: scaleX(1) scaleY(1) scaleZ(1);
		    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
		    -moz-transform: scaleX(1) scaleY(1) scaleZ(1);
		    -o-transform: scaleX(1) scaleY(1) scaleZ(1);
		    -ms-transform: scaleX(1) scaleY(1) scaleZ(1);
			&:hover{
				transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
				-webkit-transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
				-moz-transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
				-ms-transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
				opacity: 0.7;
			}
		}
		.left_box .box_title,.right_box .box_title{
			position: absolute;
			top: 0;
			padding: 80px 60px;
			background: rgba(0,0,0,0.4);
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
		.left_box .box_title{
			right: 0;
		}
		.right_box .box_title{
			left: 0;
		}

		.right_box .top_img, .right_box .fb_canvas{
			width: 100%;
			float: left;
		}
		.right_box .top_img{
			position: relative;
		}
		.right_box .fb_canvas{
			position: absolute;
			background: $fbBackground;
			top: 63%;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.5s ease-out;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-ms-transition: all 0.5s ease-out;

			&:hover{
				background: lighten($fbBackground,12%);
			}
			h2{
				display: block;
				color: darken($white,5%);
				margin: 0px;
			}
			.kanji{
				font-size: 200%;
				font-weight: 400;
			}
			.en{
				font-size: 270%;
				letter-spacing: -2px;
			}
			
		}
		.box_title h2{
			display: block;
			margin: 0px;
			font-size: 30px;
			color: darken($white,10%);
			font-weight: 500;
		}
	}
	/* /Recruit section **/

}

.site_footer{
	width: 100%;
	position: relative;
	padding: 30px 0px 0px;
	@include clearfix();

	.scroll_top{
		position: relative;
		width: 100%;
		float: left;
		padding: 50px 0px;
		text-align: center;
		span{
			padding: 7px 15px;
			cursor: pointer;
			display: inline-block;
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transition: margin-top .4s ease;
			-webkit-transition: margin-top .4s ease;
			-moz-transition: margin-top .4s ease;
			-ms-transition: margin-top .4s ease;
			&:hover{
				margin-top: -10px;
			}
		}
	}
	
	.local_nav, .footer_copyright{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.footer_copyright{
		padding: 10px;
	}

	.local_nav{
		border-top: 1px solid $lightGray;
		border-bottom: 1px solid $lightGray;
		align-items: center;

		ul{
			list-style-type: none;
			li{
				display: inline-block;

				a{  
					position: relative;
					text-decoration: none;
					color: $black;
					display: inline-block;
					padding: 18px;
					font-size: 80%;
					font-weight: 300;

					&:hover{
						text-decoration: underline;
						color: lighten($black,30%);
					}
				}
			}
		}
	}

}
