
/** Helper @mixin function **/
/***************************/

@mixin display-flex(){
	display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
}

@mixin justify-content($justify: center){
	justify-content: $justify;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
}

@mixin align-items($align: center){
	align-items: $align;
	-webkit-align-items: $align;
	-moz-align-items: $align;
	-ms-align-items: $align;
}

@mixin background-size(){
	background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

@mixin background-prefix($val){
	background: $val;
	-webkit-background: $val;
	-moz-background: $val;
	-ms-background: $val;
	-o-background: $val;
}

@mixin box-sizing($val){
	box-sizing: $val;
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	-ms-box-sizing: $val;
	-o-box-sizing: $val;
}

@mixin transition-prefix($val){
	-webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    -ms-transition: $val;
    transition: $val;
}

@mixin transform-prefix($val){
	transform: $val;
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
}

@mixin transform-origin($val){
	transform-origin: $val;
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -o-transform-origin: $val;
    -ms-transform-origin: $val;
}
