@import 'plugin/bourbon/_bourbon.scss';
/* 
 * PAGE : Main visaul
 * SECTION : Header navigation
 */

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);

body{
	background: $white;
	font-family: arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku GothicProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳＰゴシック',sans-serif;
	font-size: 14px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: 0px;
	padding-top: 70px;
}

.site_sm_container{
	position: relative;
	width: $site_sm_container;
	padding: 0 $site_sm_container_padding;
	margin: 0 auto;
	@include clearfix;
}

.site_md_container{
	position: relative;
	width: $site_md_container;
	padding: 0 $site_md_container_padding;
	margin: 0 auto;
	@include clearfix;
}

.site_container{
	position: relative;
	width: $site_container_width;
	padding: 0 $site_container_padding;
	margin: 0 auto;
	@include clearfix;
}

.site_header{
	position: fixed;
	top: 0;
	left: 0;
	background: $white;
	@include box-sizing(border-box);
	width: 100%;
	height: 70px;
	padding: 0px;
	margin: 0px;
	z-index: 10;
	@include clearfix;

}

.site_logo{
	float: left;
	width: 20%;
	@include display-flex();
	@include justify-content(flex-start);
	@include align-items();
	height: 100%;

	img{
		margin: 0px;
		max-width: 100%;
		vertical-align: bottom;
		display: block;
	}
	.logo_inner{
		margin-bottom: 7px;
	}
}

.toggle_menu{
	display: none;
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	@include box-sizing(border-box);
	button{
		display: block;
		background: none;
		border: none;
		outline: none;
		font-size: 30px;
		line-height: 1;
		padding: 20px;

	}
}

.global_nav{
	float: right;
	width: 80%;
	height: 70px;
}

.global_nav ul{
	list-style-type: none;
	display: inline-block;
	float: right;
	
	li{
		float: left;
		vertical-align: middle;
	}
	li.relative{
		position: relative;
	}
	li.over_black a{
		background: $lightBlack;
		color: $white;
		&:hover{
			background: $black;
			color: darken($white,10%);
		}
	}
	a{	
		font-family: "Dosis", san-serif;
		text-decoration: none;
		padding: 25px 17px;
		color: $black;
		font-size: 108%;
		line-height: 70px;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		
		&:hover{
			color: lighten($black,70%);
		}
	}
	li:hover > ul{
		height: 250px;
	}
	li > ul:hover .global_nav > ul > li:has(ul) > a{
		color: lighten($black,70%);
	}
}

.global_nav ul ul{
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 0px;
	overflow: hidden;
	top: 70px;
	left: 50%;
	margin-left: -100px;
	padding: 0px;
	z-index: 99;
	@include transition-prefix(height 0.4s ease-in);

	li{
		background: $white;
		float: left;
		border-top: 1px solid #ddd;
		@include transition-prefix(background-color 0.4s ease);
	}

	a{
		line-height: 20px;
		width: 180px;
		padding: 10px;
		float: left;
		color: $black;
		font-weight: 600;
		&:hover{
			background: darken($white,1%);
		}
	}
}

/** Global navigation for tablet and mobile **/
#mobile_global_nav{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0px 20px;
	background: rgba(0,0,0,0.9);
	z-index: 999;
	
	@include clearfix();
	
	.button_outer{
		position: relative;
		width: 100%;
		height: 70px;
		float: left;
		@include display-flex();
		@include justify-content(flex-end);
		@include align-items();
		
	}

	button{
		background: transparent;
		outline: none;
		display: block;
		padding: 0;
		border: none;
		color: $white;
		font-size: 250%;
	}

	ul{
		display: block;
		position: relative;
		float: left;
		width: 100%;
		text-align: center;
		list-style-type: none;
		@include clearfix();
	}
	
	li{
		display: block;
		width: 100%;
		float: left;
	}

	a{
		text-decoration: none;
		color: $white;
		width: 100%;
		display: block;
		font-size: 100%;
		line-height: 3.2;
		font-weight: 500;
		letter-spacing: -0.5px;
		text-align: center;
		
		&:hover{
			color: lighten($black,70%);
		}
	}

	ul ul{
		position: relative;
		width: 100%;
		padding: 20px 0px;
		@include clearfix();

		li{
			display: block;
			float: left;
			width: 50%;
			@include box-sizing(border-box);
			border: 1px solid $white;
		}

	}
}


/*
 * PAGE : Mian visual;
 * SECTION : Top banner;
 */
.site_banner{
	position: relative;
	width: 100%;
	@include background-size();
	background-position: center center;
	@include clearfix();

	.load_banner{
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		
		&.loading{
			@include background-prefix(#{$white} url("../img/common/icons/img_loader_01.gif") no-repeat center center)
			z-index: 1;
		}
	}

	.banner_inner{
		position: relative;
		margin: 0 auto;
	    width: 100%;
	    overflow: hidden;
	    @include background-size();
		background-position: center center !important;
	    @include box-sizing(border-box);
		img{
			max-width: 100%;
	    	border: 0;
	    	vertical-align: middle;
		}
	}


    .banner_list{
    	visibility: visible;
    	width: 100%;
    	height: 100%;
    	@include position(absolute,0 0 0 0);
    }

    .banner_item{
		width: 100%;
		display: block;
		height: 100%;
		@include position(absolute);
	}

    .item_inner{
		width: 100%;
		height: 100%;
		@include background-size();
		background-position: center center !important;
		@include position(relative);
	}

    .item_title{
		position: absolute;
	    height: 100%;
	    width: 100%;
	    padding: 0 2%;
	    @include box-sizing(border-box);
	    margin: 0 auto;
	    @include display-flex();
	    @include justify-content();
	    @include align-items();
	    z-index: 2;
	    background: transparent;
		span{
			display: block;
			position: relative;
		    width: 100%;
			font-size: 400%;
			color: $white;
			text-align: center;
		}
	}

	.item_img{
		position: absolute;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    width: 100%;
	    @include background-size();
		background-position: center center;
		@include transition-prefix(all 20s cubic-bezier(0, 0, 1, 1) 0s);
		@include transform-prefix(scaleX(1) scaleY(1) scaleZ(1));
	}

	.item_img.img_scale{
		@include transform-prefix(scaleX(1.7) scaleY(1.7) scaleZ(1));
	}


}


/*
 * Page : Main visual
 * Layout for structure of each section
 *
 */
.site_container{
	.content_inner{
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		@include clearfix();
	}

	.content{
		width: 100%;
		position: relative;
		float: left;
		@include clearfix();
		.row{
			position: relative;
			width: 100%;
			display: inline-flex;
		}
	}
}

.page_content{
 	width: 100%;
	position: relative;
	@include clearfix();
 }

 .section_heading{
	width: 100%;
	position: relative;
	float: left;
	background: $white;
	padding: 50px 0px;
	text-align: center;
}

/** Page : Main visual **/
/** Layout for canvas box **/
 /************************/
.canvas_box_container{
	@include position(relative);
	width: 100%;
	@include clearfix();	
}

.canvas_box{
	visibility: visible;
	height: auto;
	overflow: hidden;
	position: relative;
	float: left;
	@include display-flex();
	@include justify-content();
	@include align-items();
	overflow: hidden;
	@include box-sizing(border-box);

	.inner{
		position: relative;
		width: 100%;
		text-align: center;
		z-index: 3;
		@include clearfix();
	}
	figure{ /* last added */
		width: 100%;
		float: left;
		position: relative;
		@include background-size();
		background-position: center center;
		display: block;
	}
	.title{ /* last added */
		position: relative;
		width: 100%;
		float: left;
		display: block;
		margin-top: 10px;
	}
}

.canvas_box.frosted_glass{
	position: relative;
	background: $white;
	&:after{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 2;
		opacity: 0.4;
		@include background-size();
		background-attachment: fixed;
		-webkit-filter: blur(6px);
		-moz-filter: blur(6px);
		-ms-filter: blur(6px);
		-o-filter: blur(6px);
		filter: blur(6px);
	}	
}

.canvas_box.striped{
	position: relative;
	background: $white;
	min-height: 350px;
	.inner span{
		padding: 10px;
	}

	&:nth-child(even){ /* last added */
		background: $whiteGray !important;
	}
}

/** Page : Main visual **/
/** Layout for overlay banner **/
 /************************/

.overlay_banner{
	margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 190px;
    position: relative;
    overflow: hidden;
    @include background-prefix(#f5f5f5 url($about_page_banner) no-repeat top center/cover);
    -webkit-filter: grayscale(80%) contrast(90%);
	filter: grayscale(80%) contrast(90%);

	.overlay_nav{
		position: absolute;
		background: rgba(0,0,0,0.6);
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
		z-index: 3;
		ul{
			list-style-type: none;
			position: relative;
			float: left;
			height: 100%;
			width: 100%;
			margin: 0;
			@include display-flex();
			@include justify-content();
			@include align-items();
		}
		li{
			display: inline-block;
			float: left;
			position: relative;
			a{
				display: block;
				float: left;
				color: $white;
				font-size: 16px;
				line-height: 1;
				text-decoration: none;
				padding: 22px 30px;
				&:hover{
					background: $black;
				}
			}
		}

		li{
			&:after{
				position: absolute;
				display: none;
				content: "";
				width: 20px;
				height: 20px;
				border-right: 10px solid transparent;
				border-bottom: 10px solid rgba(255,255,255,1);
				border-left: 10px solid transparent;
				bottom: 0;
				left: 50%;
				margin-left: -10px;
				@include box-sizing(border-box);
			}
		}
		li{
			&:hover{
				&:after{
					display: block;
				}
			}
			&.active:after{
				display: block;
			}
		}
	}

	.overlay_title{
		position: relative;
		background: rgba(0,0,0,0);
		height: 130px;
		@include display-flex();
		@include justify-content();
		@include align-items();
		span{
			font-size: 260%;
			color: $white;
		}

	}

}

/** PAGE : about => Greeting **/
  /*************************/

.greeting{
	position: relative;
	width: 100%;
	@include clearfix();
	.paragraph{
		position: relative;
		width: 65%;
		float: left;
		display: block;
		padding-right: 5%;
		p{
			margin: 0 0 25px 0;
    		line-height: 2;
    		color: $black;
    		font-weight: 300;
		}
	}

	.profile{
		position: relative;
		float: left;
		width: 30%;
		img{
			width: 100%;
			max-width: 100%;
		}
	}
}

/** PAGE: about => philosophy **/
  /*************************/

.philosophy{
	position: relative;
	width: 100%;
	@include clearfix();
	.section{
		position: relative;
		width: 100%;
		float: left;
		margin-top: 20px;
		margin-bottom: 30px;

	}

	.row{
		position: relative;
		width: 100%;
		@include clearfix();
	}
	
	.left_section, .right_section{
		position: relative;
		width: 48%;
		float: left;

	}
	.left_section{
		margin-right: 2%;
	}
	.right_section{
		margin-left: 2%;
	}

	.section_title{
		position: relative;
		text-align: center;
		width: 100%;
		padding: 10px 0px;
		margin-bottom: 40px;
		background: $heavyGray;
		h3{
			margin: 0px;
			color: $white;
			font-size: 16px;
			font-weight: 600;
			line-height: 1;
		}
	}

	.company_logo{
		height: 143px;
		@include display-flex();
		@include justify-content();
		@include align-items();
		img{
			max-width: 100%;
			vertical-align: middle;
		}
	}

	article{
		width: 100%;
	}
	
	.article_title{
		margin-top: 30px;
		margin-bottom: 20px;
		font-size: 18px;
		color: #000;
		font-weight: 500;
		text-shadow: 0px 1px 1px #999;
	}
	
	.vertical_divider{
		position: absolute;
		left: 50%;
		top: 80;
		bottom: 0;
		width: 1px;
		background: lighten(#999,25%);
	}

	ul{
		margin-left: 20px;
		li{
			line-height: 2.2;
			font-size: 20px;
			color: #333;
			text-shadow: 0px 1px 0px #999;
		}
	}

	p{
		text-align: center;
		line-height: 2.2;
		color: #333;
		text-shadow: 0px 1px 1px #999;
		&.text_lg{
			font-size: 30px;
		}
	}
}

/** PAGE: about => history **/
  /***********************/

.history{
	ul{
		position: relative;
		list-style-type: none;
		width: 100%;
		display: block;
		@include clearfix();
	}

	li.history_record{
		position: relative;
		@include display-flex();
		width: 100%;
		float: left;
		margin: 0px;
		@include box-sizing(border-box);
		@include clearfix();
		
	}

	.history_date,.history_milestone{
		display: inline-block;
		position: relative;
		float: left;
		vertical-align: top;
		line-height: 2;
		text-shadow: 0px 0px 1px #777;
		@include box-sizing(border-box);
	}

	.history_date{
		width: 20%;
		padding: 20px 30px 20px 10px;
		float: left;
		font-size: 16px;
		text-align: right;
		background: $heavyGray;
		color: $white;

	}

	.history_milestone{
		width: 80%;
		padding: 20px 10px 20px 30px;
		float: left;
		text-align: left;
		p{
			color: #666;
			letter-spacing: 1.5px;
		}
	}
}

/** PAGE: about => privacy and policy **/
  /**********************************/

.privacy{
	.row{
		@include display-flex();
		position: relative;
		width: 100%;
		margin-bottom: 50px;
		@include clearfix();
	}

	.content_title{
		position: relative;
		width: 30%;
		padding: 0px 40px 0px 10px;
		float: left;
		text-align: right;
		@include box-sizing(border-box);
		p{
			font-size: 17px;
			font-weight: 500;
			color: #222;
			text-shadow: 0px 0px 1px #666;
			line-height: 2.2;
		}
	}

	.content_paragraph{
		position: relative;
		width: 70%;
		padding: 0px 10px 0px 40px;
		float: left;
		@include box-sizing(border-box);
		p{
			font-size: 16px;
			color: #444;
			text-shadow: 0px 0px 1px #999;
			line-height: 2.1;
		}

		h4{
			font-size: 17px;
			font-weight: 500;
			margin: 20px 0px;
			color: #222;
			text-shadow: 0px 0px 1px #666;
			line-height: 2.1;
		}
	}

	.vertical_divider{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 1px;
		background: lighten(#999,25%);
	}

	ul{
		list-style-type: decimal;
		margin-left: 20px;
		font-size: 16px;
		color: #444;
		text-shadow: 0px 0px 1px #999;
		line-height: 2.1;
		li{
			margin-bottom: 20px;
		}
		ul{
			list-style-type: circle;
			margin-left: 20px;
			li{
				margin-bottom: 0px;
				font-size: 15px;
			}
		}
	}
	
	ul.info{
		list-style-type: none;
		li{
			@include display-flex();
			font-size: 15px;
		}
		span{
			width: 20%;
			color: #222;
			text-shadow: 0px 0px 1px #222;
		}
		p{
			font-size: 15px;
			margin-top: 10px;
		}
	}

}

.profile{
	.left_content,.right_content{
		position: relative;
		width: 50%;
		float: left;
		@include box-sizing(border-box);
		@include clearfix();
	}

	ul{
		list-style-type: none;
		width: 100%;
		position: relative;
		@include clearfix();
	}

	.left_content li{
		display: flex;
		width: 100%;
		position: relative;
		@include align-items(baseline);
	}

	.right_content{
		.content_paragraph{
			@include display-flex();
			@include align-items();
			padding-left: 0px;
		}
	}

	.content_title{
		width: 25%;
		float: left;
		padding: 15px 30px 15px 0px; 
		position: relative;
		@include box-sizing(border-box);
		p{
			text-align: right;
			font-size: 17px;
			color: $heading_color;
			font-weight: 600;
			text-shadow: $heading_text_shadow;
			line-height: 2.1;
		}
	}
	
	.content_paragraph{
		width: 75%;
		float: left;
		padding: 15px 0px 15px 30px;
		position: relative;
		@include box-sizing(border-box);
		p{
			font-size: 17px;
			font-weight: 400;
			line-height: 2.1;
			color: $paragraph_color;
			
		}

	}

	.link_underline{
		display: inline-block;
		color: $paragraph_color;
		text-decoration: none;
		border-bottom: 1px solid #888;
		&:hover{
			color: #666;
		}
	}

	.depart_contact{
		margin-bottom: 15px;
		width: 100%;
		h4{
			font-size: 17px;
			color: $heading_color;
			font-weight: 600;
			text-shadow: $heading_text_shadow;
		}
	}

	.head_title{
		position: relative;
		float: left;
		display: block;
		width: 40%;
		padding-right: 30px;
		@include box-sizing(border-box);
		p{
			color: $white;
			text-align: center;
			background: $lightBlack;
			&:after{
				position: absolute;
				content: "";
				display: block;
				top: 50%;
				right: 0;
				width: 20px;
				height: 1px;
				background: lighten(#999,25%);
			}
		}
	}

	.vertical_line{
		position: absolute;
		left: 0px;
		top: 28px;
		bottom: 71px;
		width: 1px;
		background: #999;
	}

	.diagram_lists{
		position: relative;
		float: left;
		display: block;
		width: 60%;
		padding-left: 20px;
		@include box-sizing(border-box);
		.list{
			position: relative;
			list-style-type: none;
			display: block;
			width: 100%;
			margin: 10px 0px;
			&:before{
				position: absolute;
				content: "";
				display: block;
				top: 50%;
				left: -20px;
				height: 1px;
				width: 12px;
				background: lighten(#999,25%);
			}
			&:last-child:before{
				display: none;
			}
		}

		a{
			text-decoration: none;
			color: $lightBlack;
			padding: 10px 5px;
			background: $lightGray;
			display: block;
			font-size: 15px;
			line-height: 1;
			text-align: center;
			letter-spacing: 2px;
			&:hover{
				background: darken($lightGray,10%);
			}
		}

	}

}




