

.site_container{

	a{
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
	}


	.page_content{
		
		a.more_btn{
			width: 140px;
			display: block;
			padding: 7px;
			background: $black;
			color: $white;
			font-size: 12px;
			font-weight: 500;
			text-align: center;
			line-height: 7px;
			text-decoration: none;
			&:hover{
				background: $lightBlack;
				color: darken($white,15%);
				
			}
		}
		.overview{
			article{
				text-align: center;
				padding: 0px;
				margin: 0 auto !important;
				width: 100%;
				margin: 0px;
				h4{
					font-size: 180%;
					font-weight: 300 !important;
					margin: 20px 0px;
					color: $headingColor;
				}

				p{
					text-align: center;
					line-height: 35px;
					margin-bottom: 10px;
					font-size: 110%;
					color: $paragraphColor;
				}
			}
		}
		
		/* style for all section heading */
		.section_heading{

			h1{
				font-size: 40px;
				font-weight: 500;
				margin:0 0 10px 0 !important;
				letter-spacing: -3px;
			}
			span{
				display: block;
				font-size: 105%;
				font-weight: 100;
				color: $paragraphColor;
			}

		}
		
		#works a.more_btn{
			position: absolute;
			top: 50%;
			right: 70px;
			margin-top: -7px;
		}

		#news a.more_btn{
			position: relative;
			margin: 10px auto;
		}
		.canvas_box_container .canvas_box{
			.title{
				h4{
					font-size: 18px;
					font-weight: 500;
					line-height: 18px;
					color: $headingColor;
					margin: 10px 0px 5px 0px;
				}
				span{
					display: block;
					line-height: 14px;
					letter-spacing: -1px;
					color: $paragraphColor;
				}
			}

			figure > img{
				max-width: 100%;
				vertical-align: middle;
			}
			
		}

	}
}
