

.scroll_bottom{
	position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    @include display-flex();
    @include justify-content();
    @include align-items();
    padding: 10px 0px 50px 0px;
    span{
    	position: relative;
    	top: -80%;
    	&:hover{
    		margin-top:10px;
    	}
    }
}

.scroll_top{
	position: relative;
	width: 100%;
	float: left;
	padding: 50px 0px;
	text-align: center;
	span{
		top: 20%;
		left: 50%;
		&:hover{
			margin-top: -10px;
		}
	}
}

.scroll_top span, .scroll_bottom span{
	padding: 7px 15px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	@include transition-prefix(margin-top .4s ease);
	@include transform-prefix(translateX(-50%));
}

a,.canvas_box.frosted:after{
	@include transition-prefix(all 0.3s ease-in-out);
}

a.more_btn{
	width: 140px;
	display: block;
	padding: 7px;
	background: $lightBlack;
	color: $white;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 7px;
	text-decoration: none;
	&:hover{
		background: $black;
	}
}

.full_width_btn{
	display: none;
	position: relative;
	float: left;
	text-align: center;
	width: 100%;

	a{
		display: block;
		padding: 10px 0px;
		text-decoration: none;
		background: $lightBlack;
		color: $white;
		font-size: 20px;
		&:hover{
			background: $black;
		}
	}
}

#overview{
	article{
		text-align: center;
		padding: 0px;
		margin: 0 auto !important;
		width: 100%;
		margin: 0px;
		h4{
			font-size: 180%;
			font-weight: 300 !important;
			margin: 20px 0px;
			color: $headingColor;
		}

		p{
			text-align: center;
			line-height: 35px;
			margin-bottom: 10px;
			font-size: 110%;
			color: $paragraphColor;
		}
	}
}

/* style for all section heading */
.section_heading{
	h1{
		font-size: 40px;
		font-weight: 500;
		margin:0 0 10px 0 !important;
		letter-spacing: -3px;
	}
	span{
		display: block;
		font-size: 105%;
		font-weight: 100;
		color: $paragraphColor;
	}

}

#works a.more_btn{
	position: absolute;
	top: 50%;
	right: 70px;
	margin-top: -7px;
}

#news a.more_btn{
	position: relative;
	margin: 10px auto;
}

.canvas_box{
	.title{
		h4{
			font-size: 18px;
			font-weight: 500;
			line-height: 18px;
			color: $headingColor;
			margin: 10px 0px 5px 0px;
		}
		span{
			display: block;
			line-height: 14px;
			letter-spacing: -1px;
			color: $paragraphColor;
		}
	}

	figure > img{
		max-width: 100%;
		vertical-align: middle;
	}
	
}