@import 'plugin/bourbon/_bourbon.scss';

@media only screen and (max-width: 1000px){
	.site_md_container{
		width: 90%;
		padding: 0px 5%;
	}

	.global_nav{
		width: 85%;
	}

	.site_logo{
		width: 15%;
	}

}

@media only screen and (max-width: 960px){
	.site_banner .item_title span{
		font-size: 300%;
	}
	#news .news_heading_canvas{
		width: 65%;
	}

	.history{
		.history_date{
			width: 27%;
		}
		.history_milestone{
			width: 73%;
		}
	}

	.about_jp{
		
		article{
			width: 55%;
		}

		.business_domain_nav{
			width: 45%;
		}

	}

}

@media only screen and (max-width: 900px){
	.site_logo{
		width: 12%;
	}
	.global_nav{
		width: 88%;
		ul a{
			font-size: 100%;
		}
	}
	.scroll_bottom span {
		top: -40%;
	}
}

@media only screen and (max-width: 850px){
	.site_md_container{
		width: 96%;
		padding: 0px 2%;
	}
}

@media only screen and (max-width: 768px){
	.hide_sm{
		display: none !important;
	}

	.show_sm{
		display: block!important;
		visibility: visible !important
	}

	.float_r_sm{
		float: right !important;
	}

	.global_nav{
		display: none !important;
	}

	.site_logo{
		width: 50%;
		.logo_inner{
			margin-left: 20px;
		}
	}

	.toggle_menu{
		@include display-flex();
		@include justify-content(flex-end);
		@include align-items();
	}

	.site_banner .item_title span{
		font-size: 260%;
	}

	.site_sm_container{
		width: 80%;
		padding: 0px 10%;
	}

	#business_domain .canvas_box_container > .canvas_box,
	#works .canvas_box_container > .canvas_box{
		width: 50%;
	}

	#works{
		.content_inner{
			padding: 0px;
		}

		.canvas_box{

			.title{
				display: none;
			}
		}
		
	}


	#news{
		.content{
			padding: 5% 0px 0px 0px;
		}

		.row{
			padding-bottom: 5%;
		}

		.canvas_box_container{
			display: block;
		}

		.right_news_box{
			width: 100%;
			padding: 0px 5%;
		}

		.canvas_box {
		    width: 100%;
		    padding: 5%;
		    margin-bottom: 1px;
			.inner{
				text-align: left;
			}
		}

	}

	#recruit .row{
		display: inline-block;
		.left_box, .right_box{
			width: 100%;
		}

		.right_box .fb_canvas{
			position: relative;
			padding: 30px 0px;
			top: 0;
		}
	}

	/* all about page */

	.overlay_banner{
		.overlay_nav{
			display: none;
		}
		.overlay_title{
			height: 190px;
		}
	}

	.greeting{
		.paragraph{
			width: 90%;
			padding: 0 5%;
		}
		.profile{
			width: 100%;
		}
	}

	.philosophy{
		.left_section,.right_section{
			width: 100%;
			margin: 50px 0 0 0;
		}

		.vertical_divider{
			position: relative;
			float: left;
			width: 100%;
			height: 1px;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin-top: 40px;
		}
	}

	.history{

		li.history_record{
			display: block;
			padding: 12px 20px;
			&:nth-child(odd){
				background: #f5f5f5;
			}

			&:nth-child(even){
				background: $white;
			}
		}

		.history_date,.history_milestone{
			width: 100%;
			padding: 0px;
			background: transparent;
			text-align: left;
		}

		.history_date{
			color: #000;
			font-size: 18px;
			font-weight: 500;
		}

		.history_milestone{
			p{
				color: #666;
			}
		}
	}

	.privacy{
		.row{
			display: block;
		}
		.content_title,.content_paragraph{
			display: block;
			width: 100%;
			text-align: left;
			padding: 5px  20px;
		}
	}

	.profile{
		.left_content,.right_content{
			width: 100%;
		}
	}

	.banner_no_navbar{
		.overlay_title{
			sup{
				font-size: 600%;
			}
			span{
				font-size: 300%;
			}
		}
	}

	.about_jp{

		article{
			width: 100%;
		}

		.business_domain_nav{
			width: 100%;
		}

		.page_nav{
			width: 100%;
		}
	}

	.about_en{
		.company_info, .chairman_profile,
		.ceo_profile{
			padding: 0px;
			display: block;
		}
		.company_airport_map, .geo_location_desc,
		.profile_pic, .profile_bio, .description,
		.summary{
			width: 100%;
			padding: 0px;
		}

		.summary{
			margin-top: 30px;
		}

		.profile_name,.profile_pic{
			text-align: center;
			margin-top: 20px;
		}

		.board_of_director{
			margin-top: 20px;
			h1{
				margin-bottom: 20px;
			}
		}
	}
	
}

@media only screen and (max-width: 640px){
	.site_banner .item_title span{
		font-size: 220%;
	}

	.scroll_bottom{
		padding-bottom: 30px;
		span{
			height: 30px;
			img{
				height: 30px;
				width: 19px;
			}
		}
	}

	.section_heading{
		h1{
			font-size: 35px;
		}
	}

	#overview{
		padding-top: 10px;
	}

}

@media only screen and (max-width: 520px){
	.site_banner .item_title span{
		font-size: 160%;
	}

	.section_heading{
		padding: 30px 0px;
		h1{
			font-size: 30px;
		}
	}

	#recruit .box_title{
		width: 35%;
		height: 140px;
		h2{
			font-size: 20px;
		}
	}

	.site_sm_container{
		width: 96%;
		padding: 0px 2%;
	}

	.profile{
		.content_title{
			padding: 10px 15px 10px 0px;
		}
		.content_paragraph{
			padding: 10px 0px 10px 15px;
		}
	}

}

@media only screen and (max-width: 420px){
	.site_banner .item_title span{
		font-size: 120%;
	}

	.scroll_bottom{
		padding-bottom: 25px;
		span{
			height: 25px;
			img{
				height: 25px;
				width: 14px;
			}
		}
	}

	.section_heading{
		h1{
			font-size: 25px;
		}
		span{
			font-size: 90%;
		}
	}

	.overlay_caption {
		a{
			font-size: 12px;
		}
	}

	#business_domain{
		.canvas_box{
			padding: 10px;
		}
		
		.title{
			h4{
				font-size: 15px;
			}
			span{
				font-size: 12px;
			}
		}
	}

	#news .canvas_box{
		margin-bottom: 2px;
	}

}

@media only screen and (max-width: 340px){
	.footer_nav a{
		padding: 10px 5px;
		font-size: 70%;
	}
}
