#business_domain .content, #news .content{
	background-attachment: scroll !important;

}

#business_domain .content .canvas_box.frosted_glass:after,
#news .content .canvas_box.frosted_glass:after{
	background-attachment: scroll !important;

}

/** Hide all the floating objects in mobile **/
  /****************************************/
#round_object, #stick_object, #blue_shape,
#cricle_bottom, #circle_object, #triangle_object{
	display: none !important;
}